<%- include("partials/header") -%>

<h1>HOME</h1>
<p><%= startContent %></p>

<% for(var i=0;i<posts.length;i++){ %>
  <h1><%= posts[i].title %></h1>
  <p>
  <%= truncate(posts[i].content,100) %>
  </p>
<%}; %>
<%- include("partials/footer") -%>
